* {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

/*------------------Body------------------*/

body {
  width: 100%;
  height: 100vh;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas: 
    "nav section section section"
    "nav main main main";
}

img {
  height: 30px;
}

#hamburger {
  display: none;
}

/*-------------------Nav-------------------*/

nav {
  /*height: 100%;*/
  color: #FFFFFF;
  background-color: #1F1F3D;
  grid-area: nav;
}

section { 
  padding: 0 5%;
  border-bottom: 2px solid #5356A4;
}

h1 {
  padding-bottom: 20px;
  padding-left: 5%;
  border-bottom: 2px solid #5356A4;
}

.nav-btns {
  height: 40px;
  width: 100%;
  color: #E9E9F3;
  font-size: 1.3em;
  margin: 25px auto;
  background-color: #5356A4;
  border-color: #353567;
  border-radius: 3px;
}

h2 {
  font-size: .9em;
  font-weight: 400;
  margin: 20px 0 0 0;
}

ul {
  padding-left: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

li {
  font-size: 1.2em;
  padding: 5px 0;
}

#new-quality-label {
  font-size: .9em;
  margin-bottom: 5px;
  display: block;
}

#new-quality-input {
  height: 40px;
  width: 100%;
  color: #353567;
  font-size: 1em;
  border: 1px solid #353567;
}

/*-----------------Idea Form----------------*/

#idea-submission {
  padding: 10px 0;
  background-color: #A9AAD2;
  display: flex;
  grid-area: section;
}

.idea-form-label{
  color: #353567;
  font-size: .8em;
  font-weight: 700;
  margin-bottom: 5px;
  display: block;
}

form {
  height: 90%;
  width: 50%;
  margin: auto;
  display: flex;
  flex-direction: column;
}

#idea-title-input {
  font-size: 1em;
  color: #353567;
  margin-bottom: 15px;
  border: 1px solid #5356A4;
  height: 40px;
}

#idea-body-input {
  height: 80px;
  color: #353567;
  font-size: 1em;
  margin-bottom: 20px
  border: 1px solid #5356A4;
}

#save-btn {
  height: 40px;
  color: #FFFFFF;
  font-size: 1em;
  font-weight: 700;
  margin: 20px 0;
  background-color: #353567;
  border: 1px solid #5356A4;
}

#save-btn:disabled {
  background-color: lightgrey;
}

div {
  height: 40px;
  text-align: center;
  display: flex;
}

#search-btn {
  height: 40px;
  width: 10%;
  padding: 2%;
  background-color: #353567;
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
}

#search-input {
  height: 40px;
  width: 90%;
  color: #353567;
  font-size: 1em;
  margin: 0;
  padding: 5px;
  border: 1px solid #5356A4;
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
}

::placeholder {
  color: #5356A4;
}

.round-corners {
  border-radius: 3px;
}

/*-------------------Main------------------*/

#main {
  padding: 20px;
  background-color: #EAEAF4;
  display: grid;
  grid-area: main;
  grid-gap: 20px;
  grid-template-columns: repeat(3, 1fr);
}

.card {
  min-width: 200px;
  /*width: 100%;*/
  border: 1px solid #6E646B;
}

#user-prompt-text {
  color: #aaaaaa;
  text-align: center;
  margin: auto;
  padding: 40px;
  border: 2px dotted #aaaaaa;
}

.hidden{
  display: none;
}

#card-body {
  /*height: 250px;*/
  height: 74%;
  color: #1F1F3D;
  padding: 20px 15px 20px 15px;
  background-color: #FFFFFF;
}

header {
  /*height: 35px;*/
  height: 13%;
  background-color: #1F1F3D;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#idea-title-output {
  height: 50px;
  /*max-height: 50px;*/
  max-width: 24ch;
  width: 100%;
  /*width: 200px;*/
  font-size: 1em;
  margin: 0;
  overflow: scroll;
}

#idea-body-output {
  height: 150px;
  /*max-height: 150px;*/
  max-width: 24ch;
  font-size: 1em;
  margin: 0;
  overflow: scroll;
}

footer {
  /*height: 35px;*/
  height: 13%;
  color: #FFFFFF;
  background-color: #5356A4;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/*-------------------Media Queries------------------*/

@media screen and (max-width: 1050px) {

.nav-btns {
  font-size: 1.1em;
}

}

@media screen and (max-width: 850px) {

.nav-btns {
  font-size: .8em;
}

form {
  width: 60%;
}

#main {
  grid-template-columns: repeat(2, 1fr);
}

}

@media screen and (max-width: 600px) {

form {
  width: 80%;
}  

#main {
  grid-template-columns: 1fr;
}

}

/*
body {
  display: block;
}

nav {
  text-align: center;
}

h1 {
  font-size: 2em;
  margin-top: 0;
  padding: 20px 0;
}

h2 {
  font-size: 1em;
}

.nav-btns {
  width: 50%;
  font-size: 1.3em;
}

#new-quality-label {
  font-size: 1em;
}

#new-quality-input {
  width: 50%;
}

#main {
  grid-template-columns: repeat(2, 1fr);
}
  
}*/


@media screen and (max-width: 420px) {

}

}











