* {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
/*  border: 1px solid red;*/
}

html {
  height: 100%;
}

/*------------------------Body-----------------------*/

body {
  width: 100%;
  height: 100%;
  display: grid;
  margin: 0;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 40% 60%;
  grid-template-areas: 
    "nav section section section"
    "nav main main main"; 
}

img {
  height: 30px;
}


/*------------------------Nav------------------------*/

nav {
  height: 100%;
  grid-area: nav;
  background-color: #1F1F3D;
  color: #FFFFFF;
}

section { 
  border-bottom: 2px solid #5356A4;

}

h1 {
  padding-left: 20px;
  padding-bottom: 20px;
  border-bottom: 2px solid #5356A4;
}

.nav-btns {
  width: 90%;
  margin-left: 20px;
  font-size: 1.5em;
  margin-bottom: 20px;
  border-radius: 3px;
  background-color: #5356A4;
  color: #E9E9F3;
  border-color: #353567;
  height: 40px;

}

h2 {
  padding-left: 20px;
  font-weight: 400;
  font-size: .8em;
}

ul {
  list-style-type: none;
  padding: 0 0 0 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

li {
  padding-bottom: 10px;
  font-size: 1.2em;
}

#new-quality-label {
  font-size: .8em;
  display: block;
  padding-left: 20px;
  margin-bottom: 5px;
}

#new-quality-input {
  font-size: 1em;
  color: #353567;
  margin-left: 20px;
  margin-bottom: 15px;
  width: 90%;
  height: 40px;
  border: 1px solid #353567;
}


/*-------------------Idea Form-----------------------*/

#idea-submission {
  grid-area: section;
  background-color: #A9AAD2;
  display: flex;
}

.idea-form-label{
  font-size: .8em;
  display: block;
  margin-bottom: 5px;
  color: #353567;
  font-weight: 700;
}

form {
  height: 90%;
  width: 40%;
  display: flex;
  flex-direction: column;
  margin: auto;
}

#idea-title-input {
  font-size: 1em;
  color: #353567;
  border: 1px solid #5356A4;
  height: 40px;
  margin-bottom: 15px;
}

#idea-body-input {
  font-size: 1em;
  color: #353567;
  border: 1px solid #5356A4;
  height: 80px;
  margin-bottom: 20px
}

#save-btn {
  background-color: #353567;
  color: #FFFFFF;
  border: 1px solid #5356A4;
  height: 40px;
  font-size: 1em;
  font-weight: 700;
  margin-bottom: 20px;
}

#save-btn:disabled {
  background-color: lightgrey;
}

div {
  display: flex;
  text-align: center;
  height: 40px;
}

#search-btn {
  background-color: #353567;
  width: 10%;
  height: 40px;
  padding: 10px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

#search-input {
  font-size: 1em;
  color: #353567;
  width: 90%;
  height: 40px;
  border: 1px solid #5356A4;
  padding: 5px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  margin: 0;
}

::placeholder {
  color: #5356A4;
}

.round-corners {
  border-radius: 3px;
}

/*------------------------Main-----------------------*/

#main {
  grid-area: main;
  background-color: #EAEAF4;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 50%);
  padding: 20px;
}

article {
  border: 1px solid #6E646B;
  width: 100%;
  height: 100%;
}

#user-prompt-text {
  border: 2px dotted #aaaaaa;
  color: #aaaaaa;
  padding: 40px;
  margin: 0;
  text-align: center;
}

.hidden{
  display: none;
}

#card-body {
  background-color: #FFFFFF;
  color: #1F1F3D;
  height: 74%;
  padding: 20px 15px 20px 15px;
}

header {
  background-color: #1F1F3D;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 13%;
}

#idea-title-output {
  margin-top: 0;
}

footer {
  background-color: #5356A4;
  color: #FFFFFF;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 13%;
}